{{- if .Values.olakeUI.ingress.enabled -}}
{{- $fullName := include "olake.fullname" . -}}
{{- $svcPort := 8080 -}}
{{- if and .Values.olakeUI.ingress.className (not (hasKey .Values.olakeUI.ingress.annotations "kubernetes.io/ingress.class")) }}
  {{- $_ := set .Values.olakeUI.ingress.annotations "kubernetes.io/ingress.class" .Values.olakeUI.ingress.className}}
{{- end }}
{{- if semverCompare ">=1.19-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1
{{- else if semverCompare ">=1.14-0" .Capabilities.KubeVersion.GitVersion -}}
apiVersion: networking.k8s.io/v1beta1
{{- else -}}
apiVersion: extensions/v1beta1
{{- end }}
kind: Ingress
metadata:
  name: {{ $fullName }}-ui
  namespace: {{ include "olake.namespace" . }}
  {{- with .Values.olakeUI.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  labels:
    app.kubernetes.io/name: olake-ui
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: frontend
    {{- include "olake.labels" . | nindent 4 }}
spec:
  {{- if and .Values.olakeUI.ingress.className (semverCompare ">=1.18-0" .Capabilities.KubeVersion.GitVersion) }}
  ingressClassName: {{ .Values.olakeUI.ingress.className }}
  {{- end }}
  {{- if .Values.olakeUI.ingress.tls }}
  tls:
    {{- range .Values.olakeUI.ingress.tls }}
    - hosts:
        {{- range .hosts }}
        - {{ . | quote }}
        {{- end }}
      secretName: {{ .secretName }}
    {{- end }}
  {{- end }}
  rules:
    {{- range .Values.olakeUI.ingress.hosts }}
    - host: {{ .host | quote }}
      http:
        paths:
          {{- range .paths }}
          - path: {{ .path }}
            {{- if and .pathType (semverCompare ">=1.18-0" $.Capabilities.KubeVersion.GitVersion) }}
            pathType: {{ .pathType }}
            {{- end }}
            backend:
              {{- if semverCompare ">=1.19-0" $.Capabilities.KubeVersion.GitVersion }}
              service:
                name: olake-ui
                port:
                  number: {{ $svcPort }}
              {{- else }}
              serviceName: olake-ui
              servicePort: {{ $svcPort }}
              {{- end }}
          {{- end }}
    {{- end }}
{{- end }}