@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-row td {
	padding: 26px !important;
}

.ant-radio-checked .ant-radio-inner {
	background-color: white !important;
	border: 2px solid #203fdd !important;
}

.ant-radio-inner::after {
	width: 8px;
	height: 8px;
	background-color: #203fdd !important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
