

# misc
.DS_Store
npm-debug*

# node
**/node_modules/

# build
**/build/
**/dist/

# env
*.env
*.env.*

# tests
**/test-results/
**/playwright-report/
**/blob-report/
**/.auth/
**/coverage/

# Editor directories and files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
